<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplicationSample-20180731024912.mdf;Initial Catalog=aspnet-WebApplicationSample-20180731024912;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
